body {
	padding: 0px;
	margin: 0px;
}

.bg-img {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url("../inkiyad.github.io/images/TCGA-copy.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed; 
}

#image-slider { 
	top:0;
	left:0;
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url("../inkiyad.github.io/images/patch-level-lym.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	border-left: 2px solid #000;
	background-attachment:fixed; 
}